.header {
    min-width: 1184px;
    min-height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

@media screen and (min-width: 1024px)  {
    .header {
        min-width: 928px;
    }
}