.footer__author {
    text-align: right;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}

@media screen and (max-width: 767px) {
    .footer__author {
        margin-top: 48px;
        text-align: left;
   }
}