.place__baikal {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: repeat(2, auto);
    gap: 40px 48px;
    grid-template-areas: 
    "title-baikal website-baikal"
    "image-baikal text-baikal";
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place__baikal {
        grid-template-columns: 440px 456px;
        gap: 32px 48px;
   }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__baikal {
        margin-top: 73px;
        grid-template-columns: 340px 352px;
        gap: 48px 28px;
   }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__baikal {
        margin-top: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 32px;
        grid-template-areas: 
    "title-baikal" 
    "website-baikal"
    "image-baikal" 
    "text-baikal";
   }
}