.cover {
    max-width: 1184px;
    min-height: 740px;
    background-image: url(../../images/trains-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;


    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "content";
}

.cover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: #2A2C2F;
    opacity: 0.3;
    transition: opacity 0.3s;
}

.cover:hover::before {
    opacity: 0.8;
    transition: opacity 0.3s;
}

@media screen and (min-width: 1024px)  {
    .cover {
        width: 100%;
        min-height: 640px;
   }
}