.place__kosa {  
    margin-top: 80px; 
    display: grid;
    grid-template-columns: 450px 484px;
    grid-template-rows: repeat(2, auto);
    gap: 40px 48px;
    grid-template-areas: 
    "title-kosa website-kosa"
    "image-kosa text-kosa"

}

.place__kolskiy {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 450px 484px;
    grid-template-rows: repeat(2, auto);
    gap: 40px 48px;
    grid-template-areas: 
    "title-kolskiy website-kolskiy"
    "image-kolskiy text-kolskiy"
}

.place__altai {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 450px 484px;
    grid-template-rows: repeat(2, auto);
    gap: 40px 48px;
    grid-template-areas: 
    "title-altai website-altai"
    "image-altai text-altai"
}

.place__baikal {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 450px 484px;
    grid-template-rows: repeat(2, auto);
    gap: 40px 48px;
    grid-template-areas: 
    "title-baikal website-baikal"
    "image-baikal text-baikal"
}

.place__karelia {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 450px 484px;
    grid-template-rows: repeat(2, auto);
    gap: 40px 48px;
    grid-template-areas: 
    "title-karelia website-karelia"
    "image-karelia text-karelia"
}

.place__title {
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    margin: 0;
}

.place__website {
    align-self: end;
}


.place__title_place_kosa {
    grid-area: title-kosa;
}

.place__image_place_kosa {
    grid-area: image-kosa;
}

.place__website_place_kosa {
    grid-area: website-kosa;
}

.place__text_place_kosa {
    grid-area: text-kosa;
}


.place__title_place_kolskiy {
    grid-area: title-kolskiy;
}

.place__image_place_kolskiy {
    grid-area: image-kolskiy;
}

.place__website_place_kolskiy {
    grid-area: website-kolskiy;
}

.place__text_place_kolskiy {
    grid-area: text-kolskiy;
}



.place__title_place_altai {
    grid-area: title-altai;
}

.place__image_place_altai {
    grid-area: image-altai;
}

.place__website_place_altai {
    grid-area: website-altai;
}

.place__text_place_altai {
    grid-area: text-altai;
}


.place__title_place_baikal {
    grid-area: title-baikal;
}

.place__image_place_baikal {
    grid-area: image-baikal;
}

.place__website_place_baikal {
    grid-area: website-baikal;
}

.place__text_place_baikal {
    grid-area: text-baikal;
}

.place__title_place_karelia {
    grid-area: title-karelia;
}

.place__image_place_karelia {
    grid-area: image-karelia;
}

.place__website_place_karelia {
    grid-area: website-karelia;
}

.place__text_place_karelia {
    grid-area: text-karelia;
}
