.place__kolskiy {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: repeat(2, auto);
    gap: 40px 48px;
    grid-template-areas: 
    "title-kolskiy website-kolskiy"
    "image-kolskiy text-kolskiy"
}

@media screen and (min-width: 1024px)  {
    .place__kolskiy {
        grid-template-columns: 440px 456px;
        gap: 32px 48px;
   }
}